<div id="user_id" style="display:none;"><%="#{@id}"%></div>
<%if @isSeller %>
  
  <% if @uploadmessage %>
    <li> <b> Successfully </b> added item/product to your catlog. </li>
  <% end %>

  <div>
    <div id="new_listing" style="width:40%; float:left;">
      <p>Add <b>new</b> items to your store.</p>
      <p>Browse for an image!</p>
      <form action="/upload" id="listing" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile"/> <br /><br />
        Title:  <input type="text" name="title" placeholder="Add a caption to your Product.." /> <br/>
        <!-- remove this if you want description
        <p> Description:</p>
        <textarea rows="4" cols="40" name="description" form="listing"> </textarea>
        -->
       Price: <input type="text" name="price" placeholder="Enter an Integeral Price.." />
               <p><input id = "fileupload" type="submit"; value="Upload!"/></p> <br/><br />

      </form>
    </div>

    <div style="width:40%; float:left;">
      <p> <b><%= "#{@login}" %></b> Send an instant-message to all your customers</p>
        <input type="text" id="message" placeholder="Enter Notification Here"></input><br>
          <button style="position:relative; top:5px" id="send">Send</button>
    </div>
  <button style="width:10%; float:left;" id="logout">Logout</button>
  <button style="width:10%; float:left;" id="showcase">Showcase</button>
  </div>
<% else %>
<!-- This marks the end of the rendering of the template for a seller -->
<!-- #################################################################-->
  <% if @owner then%>
    <p style="position:relative; top:15px" > <b><%= "#{@login}" %></b>, push a message to your followers </p>
  <% else %>
    <p> To get updates from <b id="user_name"><%="#{@login}" %></b> </p>
      <button id="follow">Follow </button>
      <button id="back">Back </button>
    <div style="position:relative; top:15px" id="result"></div>
  <% end %>  

  <style>
      table {
      border-collapse: collapse;
      border-spacing: 0;
      position:fixed;
      top:10px;
      right:150px;
      }
      th, td {
      border-bottom: 1px solid #c6c9cc;
      padding: 15px; 
      }
      tr:last-child td {
      border: 0;
      }
  </style>

  <% if @owner %>
  <div id="wrapper">
  <p>Server notification's will be logged below. </p>
  <ul id="eventList">
  </ul>
</div>
    <table style="width:50%">
      
      <tr >
        <th style="width:50%" id="price_drops"> Price Drops</th>
        <th style="width:50%" id="new_releases"> New Releases</th>
      </tr>
      <% if @notifs %>
        <% @notifs.each do |n| %>
          <tr>
            <td><%= "#{n}" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

    <div id="reccomendations">
      <p style="position:absolute; top:455px; left:590px"> <b> Recommendation's </b> from your network </p>
    </div>

    <div style="position:relative; top:10px" id="wrapper">
        <input type="text" id="message" placeholder="Enter Notification Here"></input><br>
        <button style="position:relative; top:5px" id="send">Push</button>
        <button style="position:absolute; top:-30px; left:380px; " id="logout">Logout</button>
    </div>
    
    <div style="position:relative; top:100px">
      <p> Follow <b>Stores and Friends</b>, to recieve real-time updates</p>
      <ul>
      <% @users.each do |u| %>
        <li> <a href="/<%="#{u.login}"%>" > <%= "#{u.login}" %> </li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

